input {
    margin: .2rem;
}
input[type=text]:focus,input[type=password]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 var(--primary-color);
    outline: 0 none;
}

.login{
    text-align: center;
    display: flex;
    flex-direction: column;
}
    
.login__title{
    font-family: 'Roboto', sans-serif;
    font-size: var(--header); 
    color: var(--primary-color);
    font-weight: bold;       
}

.login__subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-subtitle); 
    color: var(--primary-color);
    font-weight: bold;       
}

.login__title--login{
    font-size: 3rem; 
    margin-bottom:2rem;
}

.login__text{
    font-size: var(--font); 
    color: var(--primary-color);
    margin-bottom:2rem;
    text-align:center;
}

.login__text .col-2 {
    text-align: end;
    padding: 10rem;
}

.login__form{
    display: flex;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;    
}

.login__form input[type=text],input[type=password] {
    width: 21.5rem;
}

.login__msg-error{
    font-size: var(--font);
    color: var(--error-color);
}
.login__form .login__btn{
    margin-left: 6rem;
}

.login__btn{
    background-color: var(--primary-color);
    width: 21rem;  
    margin-top: 1rem;
    border-radius: 20px;
}

.login__btn--secondary{
    background-color: var(--tree-color);
    border-radius: 36px;    
    margin-top:1rem;
    font-weight: bold;    
    padding: .7rem 2rem;
}

.footer{
    margin-bottom: 10rem;
}