<figure>
    <img class="background" src="./../../../assets/background.jpg" >
</figure>

<div class="login">
        <div>
            <span><h3 class="login__title">Welcome Back</h3></span>
            <hr class="hr">
        </div>
        <span><h1 class="login__title login__title--login">Login</h1></span>
        <p class="login__text">
        For your money safety, please delete all extensions <br> for the broweryou see to log in to your wallet and
        </p>

        <form class="login__form">

            <div class="row">
                <div class="col-2 login__text">Login</div>
                <div class="col-10"><input required type="text" [(ngModel)]="userLocal.login" name="login" class="form-control" (change)="validForm()" /></div>
            </div>
            
            <div class="row">
                <div class="col-2 login__text">Password</div>
                <div class="col-10"><input required [(ngModel)]="userLocal.password" type="password" name="password" class="form-control" (change)="validForm()" /></div>
            </div>
            <p *ngIf="isMsgError"><span class="login__msg-error">Sorry, user or password incorrect</span></p>
            
            <button (click)="login()" [disabled]="isDisableBtn"  type="button" class="btn btn-primary btn-lg btn-block login__btn">Login</button>

        </form>


        <div class="row footer">
            <div class="col-6 text-right mt-3"><span class="login__subtitle">Don't have an account?</span><br>
                <span class="login__text">Register here </span>
            </div>
            <div class="col-6 text-left"> 
                 <button type="button"   class="btn btn-primary btn-lg login__btn--secondary">Create account</button></div>
        </div>
        

      
</div>
