  <div class="Card">
    <figure>
      <img class="Cards__img" src="./../../../assets/{{product.type}}.JPG" /> 
      <div [className]="product.type == 'cardDebit' ? 'Cards__data--credit' : 'Cards__data'">
        <h2><span class="Cards__number">{{product.number}}</span></h2>
       <div class="row">
         <div class="col-6" class="Cards__name"><span >{{product.name}}</span></div>
         <div class="col-6" class="Cards__date"><span >{{product.date}}</span></div>
       </div>        
      </div>   
     </figure>
     <br>
     <div class="Card__remaining"><span class="Cards__text--remaining">Remaining Ammount</span><span class="Cards__text--remaining Cards__number--remaining">%{{(product.percentage)}}</span></div>
     <div class="Card__bar">
      <div [ngStyle]="{
        'width.%': product.percentage
      }" class="Card__bar--secundary"></div>
     </div>
  </div>   