.Card{
    margin:10px;
    width: 20rem;
}
.Cards__text{
    color:var(--primary-color);
    font-size: var(--font2);
}

.Cards__text--remaining{
    color:var(--secundary-color);
    font-size: var(--font2);
    font-weight: bold;
}

.Cards__img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 0px 6px 5px rgb(249,249,249);
    border: 0px solid black;
    
}

.Cards__number--remaining{
    color:var(--secundary-color);
    font-size: var(--font2);
    font-weight: bold;
    
}

.Card__remaining{    
    display: flex;
    justify-content: space-between;
}

.Card__remaining .Cards__number--remaining{
    text-align: right;
}

.Card__bar{
    width: 100%;
    background-color: var(--error-color);
    height: 10px;
    border-radius: 20px;
}

.Card__bar--secundary{
    background-color: var(--tree-color);
    height: 10px;
    border-radius: 10px 0px 0px 10px;
}

.Cards__data--credit{
    position: relative;
    top: -50px;
    left: 20px;
    color: black;
    font-size: var(--font1);
}

.Cards__data{
    position: relative;
    top: -50px;
    left: 20px;
    color: var(--five-color);
    font-size: var(--font1);
}

.Cards__name{
    padding-left: 16px;
}

.Cards__date{
    text-align: right;
    width: 40%;
}

