@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

:root {    
    --error-color: rgb(252,154,153);
    --primary-color: rgb(1,71,203);
    --secundary-color: rgb(85,131,219);
    --tree-color:rgb(0,241,229);
    --four-color: rgb(2,47,102);
    --five-color: rgb(255,255,255);
    --six-color: rgb(134,154,178);
    --seven-color: rgb(229,233,244);
    --eight-color: rgb(1,174,181);
    --header: 2rem;
    --font-subtitle: 1.5rem;
    --font-header: 4rem;
    --font: 1rem;
    --font2: 1.5rem;
    --font3: 2rem;
    --font4: 2.5rem;
    --font5: 3rem;
}

.background{
    width:100%;
    padding: 0 8rem;
}

.hr{
    width:10rem; 
    margin: auto;
    color: rgb(0,241,229);
    border: solid;
    border-radius:20px;
    margin-bottom:1rem;
}

.loader{
    margin-left:50%;
    position: fixed;
    z-index:999;
    margin-top:30%;
}


