<div class="backgroundBlue">
    <figure>
        <img class="background" src="./../../../assets/backgroundBlue.jpg" >
    </figure>

    <div class="container message">
            <span><h3 class="message__title">New Product</h3></span>
            <hr class="hr">
            <span><h1 class="message__header">Request success</h1></span>  

            <p class="message__text">Your order has been sent successfully, <br/> and advisor will contact you soon.</p>

            <button type="button" class="btn btn-primary btn-lg btn-block message__btn" (click)="backHome()">Go Home</button>
    </div>
</div>