.message{
    padding: 9rem;
}
.message__title{
    font-size: var(--header);
    color: var(--five-color);
    text-align: center;
}

.message__header{
    font-size: 5rem;
    color: var(--five-color);
    text-align: center;
    margin-bottom: 3rem;
}

.message__text{
    font-size: var(--header);
    color: var(--five-color);
    text-align: center;
    margin-bottom: 7rem;
}

.message__btn{
    background-color: var(--tree-color);
    color:black;
    font-size: var(--header);
    border-radius: 20px;
    width: 50%;
    font-weight: bold;
}

.container button{
    margin-left: 25%;
}


.backgroundBlue{
    background-color:var(--four-color);
}