.Details{
    position: relative;
    margin-left: 37px;
    margin-top: 26%;
    width: 83.3%;
}

.Details__header{
    margin: 0px 40px;
    padding-left:20px ;
    padding-right:20px ;
    padding-top:20px ;
    border-radius: 10px;
    background-color: var(--seven-color);
    font-size: 1.5rem;
}

.Details__body{
    box-shadow: 2px 0px 6px 5px rgb(249,249,249);
    margin: 20px 40px;
    padding-left:20px ;
    padding-right:20px ;
    padding-top:20px ;
    border-radius: 10px;
    background-color: var(--five-color);
    font-size: 1.5rem;
}

.Details__btn--out{
    text-align: right;
}

.Details__text{
    color: var(--secundary-color);
    font-size: var(--font3);
    font-weight: bold;
}

.Details__img{
    cursor:pointer;
}
.Details__table{
    border: 0px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font3);
}


.Details__table tr td,th{
    border: 0px;
}
.Details__table th{
    color: var(--secundary-color);
}

