<app-loader *ngIf="globals.loader" class="loader"></app-loader>
<app-header></app-header>

<div class="row">
  <div class="col-2"><app-navbar></app-navbar></div>
  <div class="col-10">
    

<div class="Details" *ngIf="!globals.loader">
    <div class="Details__header">
        <div class="row">
            <div class="col-6">
                {{this.globals.accountSelect.name}}
            </div>
            <div class="col-6 Details__btn--out">
                <figure>
                    <img class="Details__img" (click)="backHome()" src="./../../../assets/out.jpg" />
                </figure>
            </div>
        </div>               
    </div>
    <div class="Details__body">
       <p class="Details__text">Last Transation</p> 
        <hr>
        <table class="table Details__table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Currency</th>
                <th>Value</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <td scope="row">{{transaction.date}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.currency}}</td>
                <td>{{transaction.value | currency}}</td>
                <td>{{transaction.balance | currency}}</td>
              </tr>
            </tbody>
          </table>

    </div>

</div>
<app-footer></app-footer>
</div>
</div>

