<div class="profile">
    <figure>
        <img class="profile__photo--notificacion" src="./../../../assets/notification.png" />
    </figure>
    <figure>
        <img class="profile__photo--notificacion" src="./../../../assets/chat.png" />
    </figure>
    <figure>
        <img class="profile__photo" src="./../../../assets/user.png" />
    </figure>

    <p  class="profile__name">
        <span>{{globals.userLogin.firstName}} {{globals.userLogin.lastName}}</span>
    </p>
        <select (change)="logout($event)" class="form-control profile__menu">
            <option value=""><span>Select one option</span></option>
            <option value="logout"><span>Logout</span></option>
        </select>        
    
    
</div>
<div class="header">
            <figure>
                <img class="header__photo"  src="{{globals.userLogin.picture}}"/>
            </figure>
            <div class="header__text">
                Welcome Back, {{globals.userLogin.firstName}}!<br/>
                <span class="header__last-login">Your last login was {{globals.userLogin.lastLogin}}</span>
            </div>
            <div class="header__balance">
                Total Balance<br/>
                <span class="header__money">{{totalBalance | currency}}</span>
            </div>

            <div class="header__linea-horizontal">

            </div>
            <div class="header__operation">
                <button type="button" class="btn btn-primary btn-log header__btn" (click)="goToNewProduct()">Request new product</button><br/>
                <button type="button" class="btn btn-primary btn-log header__btn">Make a transfer</button>
            </div>            
</div>