.header{
    width: 85.33%;
    height: 150px;
    z-index: 999;
    background-color: var(--primary-color);
    position: absolute;
    margin-left: 200px;
    margin-top: 120px;
    padding: 2.5rem;
    
}

.header__photo{
    height: 100px;
}

.header__text{
    font-size: var(--header);
    color: var(--five-color);
    position:absolute;
    margin-top: -89px;
    margin-left: 118px;

}

.header__last-login{
    font-size: var(--font2);
}

.header__balance{
    font-size: 1.5rem;
    color: var(--five-color);
    position:absolute;
    margin-top: -89px;
    margin-left: 60rem;
}


.header__money{
    font-size: 3rem;
    font-family: fantasy;
}

.header__linea-horizontal{
    height: 48px;
    width: 0.1px;
    background-color: var(--five-color);
    position: absolute;
    margin-top: -76px;
    margin-left: 80rem;
}

.header__btn{
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 200px;
    font-size: var(--font-subtitle);
    padding: 7px;
    margin-bottom: 20px;
    border-color: var(--tree-color);
    margin-top: -12px;
}

.header__operation{
    font-size: var(--header);
    color: var(--five-color);
    position:absolute;
    margin-top: -89px;
    margin-left: 90rem;
}



.profile{
    display: flex;
    position: absolute;
    margin-left: 73%;
    z-index: 2;
    
}


.profile__name{
    margin-top: 60px;
    color: var(--secundary-color);
    font-size: var(--font-subtitle);
}


.profile__menu{
    margin-left:10px;
    width: 30px;
    margin-top: 60px;
    border: 0px;
}


.profile__photo{
    margin-top: 5rem;
    height: 4rem;
    margin-right:10px;
}

.profile__photo--notificacion{
    margin-top: 6rem;
    height: 2rem;
    margin-right:30px;
}

