.Home{
    margin-left: 0px;
    margin-top: 27%;
}

.Home__header{
    margin: 0px 40px;
    padding-left:20px ;
    padding-right:20px ;
    padding-top:20px ;
    border-radius: 10px;
    background-color: var(--seven-color);
    font-size: 1.5rem;
}

.Home__body{
    box-shadow: 2px 0px 6px 5px rgb(249,249,249);
    margin: 20px 40px;
    padding-left:20px ;
    padding-right:20px ;
    padding-top:20px ;
    border-radius: 10px;
    background-color: var(--five-color);
    font-size: 1.5rem;
}

.Home__section{
    margin: 25px;
}

.Home__btn--out{
    text-align: right;
}

.Home__text{
    color: var(--secundary-color);
    font-size: var(--font3);
    font-weight: bold;
}

.Home__table{
    border: 0px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font3);
}

.Home__row--type{
    width: 40px;
}
.Home__table tr:hover{
    border-left: 5px solid var(--tree-color);
    cursor: pointer;    
    background-color: rgba(231, 228, 228, 0.9);
    padding: 20px 25px;
    margin-left: -20px;
 }
.Home__table th,td{
    border: 0px;
}
.Home__table th{
    color: var(--secundary-color);
}

.Home__cards{
    display:flex;
    flex-wrap: wrap;
}

.Home__navbar{
    width: 100px;
}