<app-loader *ngIf="globals.loader" class="loader"></app-loader>
<app-header></app-header>
<div class="row">
  <div class="col-2"><app-navbar></app-navbar></div>
  <div class="col-10" *ngIf="!globals.loader">
    

<div class="Home">
  <div class="Home__body">
     <p class="Home__text">ALL ACOUNTS</p> 
      <hr>
      <table class="table Home__table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Type</th>
              <th scope="col">Acoount Name</th>
              <th scope="col">Status</th>
              <th scope="col">Currency</th>
              <th scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="accountDetail(account)" *ngFor="let account of accounts">
              <td><figure><img class="Home__row--type" src="./../../../assets/{{account.type}}.png" alt=""></figure></td>
              <td scope="row">{{account.type}}</td>
              <td scope="row">{{account.name}}</td>
              <td>{{account.status}}</td>
              <td>{{account.currency}}</td>
              <td>{{account.balance | currency}}</td>
            </tr>
          </tbody>
        </table>

  </div>

  <div class="Home__section"> 
    <div class="row">
      <div class="col-6">
        <figure>
          <img src="./../../../assets/WALLET.jpg" />   <span class="Home__text">Wallet</span>
        </figure>         
        <div class="Home__cards">

          <app-cards *ngFor="let product of products" [product]="product" ></app-cards>  
        </div>             
      </div>
      <div class="col-6">
          <figure>
            <img src="./../../../assets/BUDGETS.JPG" />   <span class="Home__text">Your Budgets</span>
          </figure>  
          <div class="Home__budget">
            <app-budget percentage="80"></app-budget>
          </div>   
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
  </div>
</div>



