.budget{
    height: 200px;
    width: 95%;
    border: 2px solid black;
    box-shadow: 2px 0px 6px 5px rgb(249,249,249);
    border: 0px solid black;
    border-radius: 5px;
    padding:10px
}

.budget__text{
    color:var(--secundary-color);
    font-size: var(--font2);
    font-weight: bold;
    text-align: right;
    display: block;
 }

 #budget__graph {
    position: relative; 
    display: inline-block; 
    margin: .5em; 
    padding: 0 .5em; 
    font: 900 2em/1.2 sans-serif; 
    z-index: 0; 
    width: 100%;
    height: 100%;
    
    }
    
    .bow {
        padding: 25px;
    position: relative; 
    display: block; 
    font: 900 .8em/6.5em serif; 
    width: 16em;
    height: 8em;
    text-align: center; 
    margin: auto;
    overflow: hidden; 
    color:white
    }
    .bow::before {
    content: ""; 
    display: block; 
    position: absolute; 
    top: 10%; left: 5%; 
    height: 180%; width: 90%; 
    background-image: radial-gradient(circle, white 58%, transparent 50%, transparent 66%, white 68%), 
                      linear-gradient(gainsboro 50%, var(--four-color) 50%); 
    background-size: 100% 100%, 95% 95%; 
    background-position: center center; 
    transform: rotate(0); 
    z-index: -1; 
    }
    
    .budget__graph--text{
        font-size: 1rem;
        position: absolute;
        top: 45px;
        left: 201px;
        text-align: center;
        font-weight: 300;                
    }
    .budget__graph--text p{
        margin-bottom: 2px;
    }
    
    .budget__cards{
        width: 32px;
    }

    .budget__graph--money{
        font-size: var(--font2);
        font-family: fantasy;
    }