<div class="budget">
<span class="budget__text">Add Budget</span>

<div id="budget__graph">

    <div class="bow" id="">
        {{percentage}}%
    </div>
    <div class="budget__graph--text">
        <figure><img src="./../../../assets/cards.jpg" class="budget__cards" alt=""></figure>
        <p>You Are Spent</p>
        <p class="budget__graph--money">$6,390</p>
        <p>of 3,248</p>
    </div>

</div>