.navbar{
    display: flex;
    width: 20rem;
    height: 100%;
    background-color: var(--four-color);
    justify-content: space-between !important;
    align-items: flex-start !important;;
    align-content: flex-start !important;
}

.navbar__logo{
    width: 80px;
    margin-top:10px;
    margin-left: 46px;
}

.navbar__category{
    margin-left:0px;
    padding-left: 2rem;
    list-style: none;
    width: 100%;
}

.navbar__item{
    font-size: var(--font1);
    color: var(--five-color);
    margin: 20px 10px;
}

.navbar__item:hover{
    border-left: 5px solid var(--tree-color);
    cursor: pointer;    
    background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.2));
    padding: 10px 25px;
    margin-left: -20px;
 }

.navbar__item--primary{
    font-size: var(--font2);
    color: var(--eight-color);
    margin:1rem;
}