<div class="navbar">
    <figure>
        <img class="navbar__logo" src="./../../../assets/logoBlue.png" />
    </figure>

    <ul class="navbar__category">
       <li class="navbar__item--primary">ACCOUNT</li> 
       <li class="navbar__item">Account Summary</li> 
       <li class="navbar__item">Account</li> 
    </ul>
    
    <ul class="navbar__category">
        <li class="navbar__item--primary">TRANSACTIONS</li> 
        <li class="navbar__item">Inquire Transctions</li> 
        <li class="navbar__item">Fund Transfer</li> 
        <li class="navbar__item">Bill Payments</li> 
     </ul>

     <ul class="navbar__category">
        <li class="navbar__item--primary">SERVICES</li> 
        <li class="navbar__item">Account Statements</li> 
        <li class="navbar__item">Enroll New Account</li> 
        <li class="navbar__item">Enroll a Credit Card</li> 
        <li class="navbar__item">Card Replacement</li> 
        <li class="navbar__item">New Checkbook</li> 
     </ul>
     
</div>

