.message{
    padding: 9rem;
}
.message__title{
    font-size: var(--header);
    color: var(--five-color);
    text-align: center;
}

.message__header{
    font-size: 5rem;
    color: var(--five-color);
    text-align: center;
    margin-bottom: 1rem;
}

.message__text{
    font-size: var(--font);
    color: var(--five-color);
    text-align: center;
    margin-bottom: 3rem;
 
}

.message__text--primary{
    font-size: 1.7rem;
    color: var(--five-color);
    text-align: center;
    margin-bottom: 3rem;
}

.message__btn{
    background-color: var(--tree-color);
    color:black;
    font-size: var(--header);
    border-radius: 20px;
    width: 50%;
    font-weight: bold;
}

.container button{
    margin-left: 31%;
    width: 39%;
}

input{
    background-color: var(--four-color);
    color: white;
    width: 55%;   
    height: 3rem;
}

select{
    background-color: var(--four-color);
    color: white;
    width: 55%;  
    height: 3rem; 
}

small{
    color: var( --six-color);
    font-size: var(--font);
    margin-left: 25rem;
}

.message__form{
    margin-bottom: 3rem;
    margin-left: 7rem;
}

.row .col-3 {
    text-align: right;
    padding: 0;
    margin-top: 0.7rem;
}

.message__btn--cancel{
    margin-left: 47rem;
    cursor: pointer;
}

.backgroundBlue{
    background-color:var(--four-color);
}