<div class="backgroundBlue">
<figure>
    <img class="background" src="./../../../assets/backgroundBlue.jpg" >
</figure>

<div class="container message">
        <span><h3 class="message__title">Request</h3></span>
        <hr class="hr">
        <span><h1 class="message__header">New product</h1></span>  

        <p class="message__text--primary">Instant payments, and a lot of withdrawal methods available.</p>

        <div class="message__form">
            <div class="row">
                <div class="col-3"> <span class="message__text">Product </span></div>
                <div class="col-9">
                    <select class="form-control">
                        <option value="Leasing">Leasing</option>
                        <option value="Foreign Currency Exchange">Foreign Currency Exchange</option>
                        <option value="Bank Guarantee">Bank Guarantee</option>
                        <option value="Remittance of Funds">Remittance of Funds</option>
                        <option value="Credit cards">Credit cards</option>
                        <option value="Debit cards">Debit cards</option>
                    </select>
                </div>
            </div>
            <br>
        
            <div class="row">
                <div class="col-3"> <span class="message__text">Cellphone </span></div>
                <div class="col-9"><input type="text" class="form-control" /></div>
                <small>Write the number you want to be contacted at</small>
            </div>
            
            <br>
            <div class="row">
                <div class="col-3"> <span class="message__text">Monthly <br/> income </span></div>
                <div class="col-9"><input type="number" class="form-control" /></div>
                <small>Give us an average incoming</small>
            </div>
        </div>        

        <button type="button" class="btn btn-primary btn-lg btn-block message__btn" (click)="goToProductSuccess()">Send</button>
        <a class="message__text message__btn--cancel" (click)="backHome()">Cancel</a>
</div>
</div>